<ul id="dropdown1" class="dropdown-content">
    <% if (currentUser) { %>
        <% currentUser.characters.forEach(character => { %>
            <li><a class="waves-effect white-text" href="/realms/<%= character.realm.slug %>"><%= character.name %> - <%= character.realm.name %></a></li>
        <% }) %>
    <% } %>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">WoW Marketplace Tracker</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a class="white-text" href="/realms">Realms</a></li>
            <li><a class="white-text" href="/items?sortBy=available">Most Available</a></li>
            <% if (currentUser) { %>
                <li><a class="white-text" href="/monitoring">Your Monitored Items</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Your Characters Realms<i class="material-icons right">arrow_drop_down</i></a></li>
                <a href="/auth/logout"><span class="email white-text">Logout</span></a>
            <% } else { %>
                <a href="/auth/bnet"><span class="email white-text">Login with BNet</span></a>
            <% } %>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <% if (!currentUser) { %>
        <li><a href="/auth/bnet">Login</a></li>
    <% } else { %>
        <li><a class="white-text" href="/monitoring">Your Monitored Items</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    <% } %>
</ul>