<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
            <a href="#user"><img class="circle" src="https://www.pngmart.com/files/10/Warcraft-WOW-Logo-PNG-Photos.png"></a>
            <a href="#name"><span class="black-text name">WoW Marketplace Tracking</span></a>
            <% if (currentUser) { %>
                <a href="#email"><span class="black-text email"><%=  currentUser.battletag %></span></a>
                <a href="/auth/logout"><span class="black-text email">Logout</span></a>
            <% } else { %>
                <a href="/auth/bnet"><span class="black-text email">Login with BNet</span></a>
            <% } %>
        </div></li>
    <li><a href="/realms">Realms</a></li>
    <li><a href="/items?sortBy=available">Most Available</a></li>
    <li><a href="/items?sortBy=dayChange">Potential Deals</a></li>
    <% if (currentUser) { %>
        <li><a href="/notifications">Your Notifications</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Your Characters' Realms</a></li>
        <% currentUser.characters.forEach(character => { %>
            <li><a class="waves-effect" href="/realms/<%= character.realm.slug %>"><%= character.name %> - <%= character.realm.name %></a></li>
        <% }) %>
    <% } %>

</ul>