<div class="container" style="image-background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Lost_main_title.svg/1200px-Lost_main_title.svg.png)">
    <p class="white-text">
        <a href="/">Go Home</a>
    </p>
</div>