<h1>WoW Marketplace Tracker</h1>

<h3>What is the purpose of this site?</h3>
<p>The site is designed to collect the historical auction house data and offer it to users as a means to maximizing their profits on listings or just for fun data visualization.</p>

<h3>Why do you need a login?</h3>
<p>Logging in is not necessary to view realm item data, but is used for monitoring realm specific pricing and eventually notifications. While the site is in beta testing I'm also using it collect all the connected servers and their realms for auction house tracking. </p>

<h3>Why does your login use my battle.net account?</h3>
<p>During the beta testing phase I'm using it for collecting user's characters realms. We never see your password, email or any sensitive information. If you have more questions feel free to check out Blizzard's OAuth <a href="https://dev.battle.net/docs/read/log_in_with_blizzard">explanation</a>..</p>