<h1>WoW Marketplace Tracker</h1>

<p>What is the purpose of this site?</p>
<p>The site is designed to collect the historical auction house data and offer it to users as a means to maximizing their profits on listings or just for fun data visualization.</p>

<p>Why do you need a login?</p>
<p>Logging in is not necessary to view realm item data, but is used for monitoring realm specific pricing and eventually notifications. While the site is in beta testing I'm also using it collect all the connected servers and their realms for auction house tracking. </p>


