<h1 class="center-align">Monitored Items</h1>

<div class="collection">
    <% monitoredItems.forEach(monitoredItem => { %>
        <div class="collection-item">
            <a href="/realms/<%= monitoredItem.realm.slug %>/<%= monitoredItem.itemId%>" class="collection-item" data-wowhead="item=<%= monitoredItem.itemId %>"></a>
            <a href="/monitoring/<%= monitoredItem.id %>?_method=DELETE"><i class="material-icons">delete_forever</i></a>
        </div>
    <% }) %>
</div>