<h1 class="center-align">Monitored Items</h1>

<div class="collection">
    <% monitoredItems.forEach(monitoredItem => { %>
        <a href="/realms/<%= monitoredItem.realm.slug %>/<%= monitoredItem.itemId%>" class="collection-item" data-wowhead="item=<%= monitoredItem.itemId %>"></a>
    <% }) %>
</div>