<h1 class="center-align">Realms</h1>

<div class="collection grey darken-3 white-text">
    <% realms.forEach(realm => { %>
        <a href="/realms/<%= realm.slug%>" class="collection-item grey darken-3 white-text"><%= realm.name %></a>
    <% }) %>
</div>